.footer{
  background-color: black;
  color: white;
  padding: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer-title{
  font-size: 1.3em;
  font-weight: 600;
}
.footer-title span{
  color:#3a6cf4;
}
.footer .social-icons a{
  font-size: 1.3em;
}
@media (max-width:1023px){
  .footer{
    flex-direction: column;
  }
  .footer-title{
    font-size: 1em;
    padding-bottom: 30px;
  }


}
@media(max-width:641px){
  body{
    font-size: 12px;
  }}
