<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <link rel="icon" href="image/icn.png"/>
  <link rel="shortcut" href="image/icn.png"/>
  <link rel="apple-touch-icon" href="image/icn.png"/>
  <title>Reservation</title>
</head>
<body>

<section class="main" id="main">
  <div>
    <h2>Salle De Formation<span><i class="las la-users"></i> &nbsp; Salle de formation avec les équipements adéquates à événement d'entreprise</span></h2>
  </div>

</section>
<section class="cards" id="Services">
  <!-- cards servies -->
  <h2 class="title">LA DISPONIBILITÉ DE SERVICES</h2>
  <div class="content">
    <div class="card">
      <div class="icon"><i class="las la-newspaper"></i></div>
      <div class="info">
        <h3>PAPER BOARD</h3>
        <p>There are many new variations of pasages of available text.</p>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="las la-snowflake"></i></div>
      <div class="info">
        <h3>CLIMATISATION</h3>
        <p>There are many new variations of pasages of available text.</p>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="las la-mouse-pointer"></i></div>
      <div class="info">
        <h3>ORDINATEUR</h3>
        <p>There are many new variations of pasages of available text.</p>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="lab la-internet-explorer"></i></div>
      <div class="info">
        <h3>FIBRE OPTIQUE</h3>
        <p>There are many new variations of pasages of available text.</p>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="las la-tv"></i></div>
      <div class="info">
        <h3>SMART TV</h3>
        <p>There are many new variations of pasages of available text.</p>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="las la-user-friends"></i></div>
      <div class="info">
        <h3>TABLE DE RÉUNION</h3>
        <p>There are many new variations of pasages of available text.</p>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="las la-hdd"></i></div>
      <div class="info">
        <h3>PROJECTEUR</h3>
        <p>There are many new variations of pasages of available text.</p>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="las la-plug"></i></div>
      <div class="info">
        <h3>PRISES</h3>
        <p>There are many new variations of pasages of available text.</p>
      </div>
    </div>
  </div>
</section>
<section class="project" id="Projects">
  <h2 class="title">NOS SALLES</h2>

  <div class="content">

    <div class="project-card">
      <div class="project-image">
        <img src="assets/salle1.jpg" alt="">
      </div>

      <div class="project-info">
        <p class="project-category">Developpement d'une application de gestion des achats d'un magasin.</p>
        <strong class="project-title">
          <span>MedinaStore</span>
          <a href="" class="more-details">Plus de datails</a>
        </strong>
      </div>
    </div>

    <div class="project-card">
      <div class="project-image">
        <img src="assets/salle2.jpg" alt="">
      </div>
      <div class="project-info">
        <p class="project-category">Developpement d'une application web de gestion des offres des stages.</p>
        <strong class="project-title">
          <span>CNRST</span>
          <a href="#" class="more-details">Plus de datails</a>
        </strong>
      </div>
    </div>

    <div class="project-card">
      <div class="project-image">
        <img src="assets/salle3.jpg" alt="">
      </div>
      <div class="project-info">
        <p class="project-category">Developpement d'une application de gestion des etudiants.</p>
        <strong class="project-title">
          <span>NTIC</span>
          <a href="#" class="more-details">Plus de datails</a>
        </strong>
      </div>
    </div>

    <div class="project-card">
      <div class="project-image">
        <img src="assets/salle4.jpg" alt="">
      </div>
      <div class="project-info">
        <p class="project-category">Developpement d'une application web de gestion des offres des stages.</p>
        <strong class="project-title">
          <span>CNRST</span>
          <a href="#" class="more-details">Plus de datails</a>
        </strong>
      </div>
    </div>


    <div class="project-card">
      <div class="project-image">
        <img src="assets/salle5.jpg" alt="">
      </div>
      <div class="project-info">
        <p class="project-category">Developpement d'une application web de gestion des offres des stages.</p>
        <strong class="project-title">
          <span>CNRST</span>
          <a href="#" class="more-details">Plus de datails</a>
        </strong>
      </div>
    </div>


    <div class="project-card">
      <div class="project-image">
        <img src="assets/salle6.jpg" alt="">
      </div>
      <div class="project-info">
        <p class="project-category">Developpement d'une application web de gestion des offres des stages.</p>
        <strong class="project-title">
          <span>CNRST</span>
          <a href="#" class="more-details">Plus de datails</a>
        </strong>
      </div>
    </div>

  </div>
</section>
<section class="contact" id="contact">
  <h2 class="title"> Contact us</h2>
</section>
<footer class="footer">
  <p class="footer-title"> © Copyright MEF - 2022 - Tous droits réservés </p>
</footer>
</body>
</html>
